body {
  font-family: "Glegoo";
}

 .text-left {
   text-align: left;
 }

.text-center {
  text-align: center;
}

 .text-right {
   text-align: right;
 }

.text-bold {
  font-weight: bold;
}

.text-extra-bold {
  font-weight: 900;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear:after {
  clear: both;
  content: '';
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.w50p {
  width: 50% !important;
}

.w100p {
  width: 100% !important;
}

.h100p {
  height: 100% !important;
}

.hidden {
  display: none !important;
}

.btn {
  color: #ffffff;
  background: none;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 8px;
  min-width: 180px;
  text-align: center;
}

.brand-color {
  color: #47368a;
}

.light-green-color {
  color: #52bbc2;
}

.light-green-color-bg {
  background-color: #52bbc2;
}

.dark-yellow-color {
  color: #bccd17;
}

.dark-yellow-color-bg {
  background-color: #bccd17;
}

.brand-color-bg {
  background-color: #47368a;
}

.header .wrapper {
  width: 100%;
  text-align: center;
  height: 150px;
  display: table;
}

.header .title {
  color: #ffffff;
  font-size: 48px;
  display: table-cell;
  vertical-align: middle;
}

.nav {
  text-align: center;
}

.nav .menu {
  display: inline-block;
  white-space: nowrap;
}

.nav .menu .item {
  display: inline-block;
}

.nav .menu .item A {
  color: #52bbc2;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  padding: 15px 30px;
}

.nav .menu .item A:hover {
  text-decoration: underline;
}

.slider .swiper-slide {
  height: 480px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-content .wrapper {
  width: 60%;
  margin: 0 auto;
}

.page-content .page-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 120px;
  padding: 0 80px;
}

.page-content .page-text {
  line-height: 32px;
  margin-top: 30px;
  font-size: 20px;
  padding: 0 80px;
}

.page-content .page-text.box-wrap {
  padding: 80px;
  margin: 80px 0;
  color: #ffffff;
}

.page-content .btn {
  margin: 60px auto 300px;
  display: block;
  width: 312px;
  font-size: 26px;
  padding: 35px 0px;
  font-weight: bold;
  border-radius: 35px;
  text-decoration: none;
}

.page-content .btn SPAN {
  font-size: 16px;
  font-weight: 100;
}

.page-content .imprint {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
}

.page-content .imprint .wrapper {
  display: inline-block;
  width: auto;
}

.page-content .imprint .wrapper > * {
  display: inline-block;
}

.page-content .imprint .social {
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.page-content .imprint .ico-facebook {
  background-image: url('../img/social/facebook.png');
}

.page-content .employees {
  margin: 0 0 200px 0;
}

.page-content .employees .employee {
  width: 33%;
  max-width: 360px;
  display: inline-block;
  margin-top: 80px;
  line-height: 24px;
}

.page-content .employees .employee .photo {
  width: 80%;
  padding-top: 80%;
  margin: 0 auto 30px auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.footer {
  height: 30px;
  background-color: #52bbc2;
}

@media only screen and (min-width: 1366px) and (max-width: 1679px) {
  .page-content .wrapper {
    width: 75%;
  }
  .page-content .page-title {
    font-size: 28px;
    margin-top: 80px;
    padding: 0 50px;
  }
  .page-content .page-text {
    line-height: 28px;
    font-size: 16px;
    padding: 0 50px;
  }
  .page-content .page-text.box-wrap {
    padding: 40px 50px;
    margin: 50px 0;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .page-content .btn {
    margin: 50px auto 200px;
  }
  .page-content .wrapper {
    width: 85%;
  }
  .page-content .employees .employee {
    width: 32%;
  }
  .page-content .page-title {
    font-size: 28px;
    margin-top: 80px;
    padding: 0 50px;
  }
  .page-content .page-text {
    line-height: 25px;
    font-size: 16px;
    padding: 0 50px;
  }
  .page-content .page-text.box-wrap {
    padding: 40px 50px;
    margin: 50px 0;
  }
}
